      <div class="chart-container">
        <h3>Bookings by Month ({{ currentYear }})</h3>
        <!-- <canvas
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          type="bar"
        >
        </canvas> -->
        <div class="chart-legend">
          <div class="legend-item">
            <span class="legend-color" style="background-color: #0d6efd"></span>
            <span>Number of bookings per month</span>
          </div>
        </div>
      </div>
